<div class="p-3 mb-2 bg-success text-white"> 
<h1 class='text-center'><span class="border border-3">Medical Information Notepad</span></h1>
<h1 class='text-center'><%= @patient.username %></h1>
<h1 class='text-center'><span class="border border-3">Here is Where You Can Create</span></h1>
<h1 class='text-center'><span class="border border-3">New Note, Items, And Questions</span></h1>
<h3>Please Note When You Have Several Different Notes, Items, And Questions
There Will Be A List Of Identifiers From Which You Can Pick What You Want To See Or Modify.
The Identifier Can Be The Date You Created It Or Anything That Will Allow You To Identify This Note, 
Items, and Questions.</h3><br><br>   
<form action="/patients/<%= @patient.id %>/comments" method="POST">
    Identifier:<input type="identifier" name="comments[identifier]"><br>
    Note:<textarea name="comments[note]"></textarea><br>
    Items To Discuss With Doctor:<textarea name="comments[items_to_discuss]"></textarea><br>
    Questions For The Doctor:<textarea name="comments[questions]"></textarea><br><br>
    Press Here To Save The Information:<input type="submit" value="Save Information" ><br>
</form>
</div>
 

 