<h3><%= @patient.username %></h3>
<p>Edit Information</p>



<form method="POST" action="/logout">
        <input type="hidden" value="DELETE" name="_method">
        <input type="submit" value="logout">
</form>
    
 
