<div class="p-3 mb-2 bg-info text-dark">
<h1 class='text-center'><span class="border border-3">Welcome To Your Medical Information Notepad</span></h1>
<div class="text-center"><img class='text-center' src="/images/notebook-image.jpg" height="200px" title="No More Looking For Misplaced Pads!"></div>
<h2>The only identification that you will be supplying is a username and password. Therefore, should anyone illegally enter this site, they would have no way to know that the information belongs to you.</h2>

<h1>Please login if you have previously created an account.</h1>
<form method="post" action="/login">
    <input type="username" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>

<h1>Please create an account if this is your first time visiting this site.</h1>
<form method="post" action="/signup">
    <input type="username" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Create Account">
</form>
 </div>
 