<h1 class='text-center'>Welcome To Your Medical Information Notepad</h1>
<img src="https://www.shutterstock.com/image-photo/female-student-writing-organisation-plan-textbook-1444041608" alt="Notepad" title="Now you won't have to remember where you put your pad!">
<h2>The only identification that you will be supplying is a username and password. Therefore, should anyone illegally enter this site, they would have no way to know that the information belongs to you.</h2>

<h1>Please login if you have previously created an account.</h1>
<form method="post" action="/login">
    <input type="username" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>

<h1>Please create an account if this is your first time visiting this site.</h1>
<form method="post" action="/signup">
    <input type="username" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Create Account">
</form>