<div class="p-3 mb-2 bg-danger text-white">
<h1 class='text-center'><span class="border border-3">Medical Information Notepad Login</span></h1><br><br>
<form method="post" action="/login">
    <input type="username" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Press Here To Login">
</form>
</div>