<h3><%= @patient.username %></h3>
   
<h1><%= @histories %></h1>
<h1><%= @subjectives %></h1>
<h1><%= @comments %></h1>
    
<form method="POST" action="/edit">
Press here to edit any information: <input type="submit" placeholder="Edit">
</form>
    
<form method="POST" action="/delete">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="delete">
</form>

    <form method="POST" action="/logout">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="logout">
</form>
    
 

 




    
