<h3><%= @patient.username %></h3>

<% @pull_his.each do |his| %>
    <h1><%=    his.diagnoses  %></h1>
    <% end %>
    <% @pull_sub.each do |sub| %>
        <h1><%= sub.location %></h1>
        <% end %>
        <% @pull_com.each do |com| %>
            <h1><%= com.note %></h1>
     <%   end %> 
   
 
    
<form method="POST" action="/edit">
Press here to edit any information: <input type="submit" placeholder="Edit">
</form>
    
<form method="POST" action="/delete">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="delete">
</form>

    <form method="POST" action="/logout">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="logout">
</form>
    
 

 




    
